/* Filter *************************************************************/
.filter      { filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow); }
.filter-none { filter: none; }

/* Blur ***************************************************************/
.blur-none { --tw-blur: blur(0); }
.blur-sm   { --tw-blur: blur(4px); }
.blur      { --tw-blur: blur(8px); }
.blur-md   { --tw-blur: blur(12px); }
.blur-lg   { --tw-blur: blur(16px); }
.blur-xl   { --tw-blur: blur(24px); }
.blur-2xl  { --tw-blur: blur(40px); }
.blur-3xl  { --tw-blur: blur(64px); }

/* BrightnessTailwind *************************************************/
.brightness-0   { --tw-brightness: brightness(0); }
.brightness-50  { --tw-brightness: brightness(.5); }
.brightness-75  { --tw-brightness: brightness(.75); }
.brightness-90  { --tw-brightness: brightness(.9); }
.brightness-95  { --tw-brightness: brightness(.95); }
.brightness-100 { --tw-brightness: brightness(1); }
.brightness-105 { --tw-brightness: brightness(1.05); }
.brightness-110 { --tw-brightness: brightness(1.1); }
.brightness-125 { --tw-brightness: brightness(1.25); }
.brightness-150 { --tw-brightness: brightness(1.5); }
.brightness-200 { --tw-brightness: brightness(2); }

/* Contrast ***********************************************************/
.contrast-0   { --tw-contrast: contrast(0); }
.contrast-50  { --tw-contrast: contrast(.5); }
.contrast-75  { --tw-contrast: contrast(.75); }
.contrast-100 { --tw-contrast: contrast(1); }
.contrast-125 { --tw-contrast: contrast(1.25); }
.contrast-150 { --tw-contrast: contrast(1.5); }
.contrast-200 { --tw-contrast: contrast(2); }

/* Drop Shadow ********************************************************/
.drop-shadow-sm   { --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0,0,0,0.05)); }
.drop-shadow      { --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06)); }
.drop-shadow-md   { --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)); }
.drop-shadow-lg   { --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1)); }
.drop-shadow-xl   { --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)); }
.drop-shadow-2xl  { --tw-drop-shadow: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15)); }
.drop-shadow-none { --tw-drop-shadow: drop-shadow(0 0 #0000); }

/* Grayscale **********************************************************/
.grayscale-0 { --tw-grayscale: grayscale(0); }
.grayscale   { --tw-grayscale: grayscale(1); }

/* Hue Rotate *********************************************************/
.-hue-rotate-180 { --tw-hue-rotate: hue-rotate(-180deg); }
.-hue-rotate-90  { --tw-hue-rotate: hue-rotate(-90deg); }
.-hue-rotate-60  { --tw-hue-rotate: hue-rotate(-60deg); }
.-hue-rotate-30  { --tw-hue-rotate: hue-rotate(-30deg); }
.-hue-rotate-15  { --tw-hue-rotate: hue-rotate(-15deg); }
.hue-rotate-0    { --tw-hue-rotate: hue-rotate(0deg); }
.hue-rotate-15   { --tw-hue-rotate: hue-rotate(15deg); }
.hue-rotate-30   { --tw-hue-rotate: hue-rotate(30deg); }
.hue-rotate-60   { --tw-hue-rotate: hue-rotate(60deg); }
.hue-rotate-90   { --tw-hue-rotate: hue-rotate(90deg); }
.hue-rotate-180  { --tw-hue-rotate: hue-rotate(180deg); }

/* Invert *************************************************************/
.invert-0 { --tw-invert: invert(0); }
.invert   { --tw-invert: invert(1); }

/* Saturate ***********************************************************/
.saturate-0   { --tw-saturate: saturate(0); }
.saturate-50  { --tw-saturate: saturate(.5); }
.saturate-100 { --tw-saturate: saturate(1); }
.saturate-150 { --tw-saturate: saturate(1.5); }
.saturate-200 { --tw-saturate: saturate(2); }

/* Sepia **************************************************************/
.sepia-0 { --tw-sepia: sepia(0); }
.sepia   { --tw-sepia: sepia(1); }

/* Backdrop Filter ****************************************************/
.backdrop-filter      { backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia); }
.backdrop-filter-none { backdrop-filter: none; }

/* Backdrop Blur ******************************************************/
.backdrop-blur-none { --tw-backdrop-blur: blur(0); }
.backdrop-blur-sm   { --tw-backdrop-blur: blur(4px); }
.backdrop-blur      { --tw-backdrop-blur: blur(8px); }
.backdrop-blur-md   { --tw-backdrop-blur: blur(12px); }
.backdrop-blur-lg   { --tw-backdrop-blur: blur(16px); }
.backdrop-blur-xl   { --tw-backdrop-blur: blur(24px); }
.backdrop-blur-2xl  { --tw-backdrop-blur: blur(40px); }
.backdrop-blur-3xl  { --tw-backdrop-blur: blur(64px); }

/* Backdrop Brightness ************************************************/
.backdrop-brightness-0   { --tw-backdrop-brightness: brightness(0); }
.backdrop-brightness-50  { --tw-backdrop-brightness: brightness(.5); }
.backdrop-brightness-75  { --tw-backdrop-brightness: brightness(.75); }
.backdrop-brightness-90  { --tw-backdrop-brightness: brightness(.9); }
.backdrop-brightness-95  { --tw-backdrop-brightness: brightness(.95); }
.backdrop-brightness-100 { --tw-backdrop-brightness: brightness(1); }
.backdrop-brightness-105 { --tw-backdrop-brightness: brightness(1.05); }
.backdrop-brightness-110 { --tw-backdrop-brightness: brightness(1.1); }
.backdrop-brightness-125 { --tw-backdrop-brightness: brightness(1.25); }
.backdrop-brightness-150 { --tw-backdrop-brightness: brightness(1.5); }
.backdrop-brightness-200 { --tw-backdrop-brightness: brightness(2); }

/* Backdrop Contrast **************************************************/
.backdrop-contrast-0   { --tw-backdrop-contrast: contrast(0); }
.backdrop-contrast-50  { --tw-backdrop-contrast: contrast(.5); }
.backdrop-contrast-75  { --tw-backdrop-contrast: contrast(.75); }
.backdrop-contrast-100 { --tw-backdrop-contrast: contrast(1); }
.backdrop-contrast-125 { --tw-backdrop-contrast: contrast(1.25); }
.backdrop-contrast-150 { --tw-backdrop-contrast: contrast(1.5); }
.backdrop-contrast-200 { --tw-backdrop-contrast: contrast(2); }

/* Backdrop Grayscale *************************************************/
.backdrop-grayscale-0 { --tw-backdrop-grayscale: grayscale(0); }
.backdrop-grayscale   { --tw-backdrop-grayscale: grayscale(1); }

/* Backdrop Hue Rotate ************************************************/
.-backdrop-hue-rotate-180 { --tw-backdrop-hue-rotate: hue-rotate(-180deg); }
.-backdrop-hue-rotate-90  { --tw-backdrop-hue-rotate: hue-rotate(-90deg); }
.-backdrop-hue-rotate-60  { --tw-backdrop-hue-rotate: hue-rotate(-60deg); }
.-backdrop-hue-rotate-30  { --tw-backdrop-hue-rotate: hue-rotate(-30deg); }
.-backdrop-hue-rotate-15  { --tw-backdrop-hue-rotate: hue-rotate(-15deg); }
.backdrop-hue-rotate-0    { --tw-backdrop-hue-rotate: hue-rotate(0deg); }
.backdrop-hue-rotate-15   { --tw-backdrop-hue-rotate: hue-rotate(15deg); }
.backdrop-hue-rotate-30   { --tw-backdrop-hue-rotate: hue-rotate(30deg); }
.backdrop-hue-rotate-60   { --tw-backdrop-hue-rotate: hue-rotate(60deg); }
.backdrop-hue-rotate-90   { --tw-backdrop-hue-rotate: hue-rotate(90deg); }
.backdrop-hue-rotate-180  { --tw-backdrop-hue-rotate: hue-rotate(180deg); }

/* Backdrop Invert ****************************************************/
.backdrop-invert-0 { --tw-backdrop-invert: invert(0); }
.backdrop-invert   { --tw-backdrop-invert: invert(1); }

/* Backdrop Opacity ***************************************************/
.backdrop-opacity-0   { --tw-backdrop-opacity: opacity(0); }
.backdrop-opacity-5   { --tw-backdrop-opacity: opacity(0.05); }
.backdrop-opacity-10  { --tw-backdrop-opacity: opacity(0.1); }
.backdrop-opacity-20  { --tw-backdrop-opacity: opacity(0.2); }
.backdrop-opacity-25  { --tw-backdrop-opacity: opacity(0.25); }
.backdrop-opacity-30  { --tw-backdrop-opacity: opacity(0.3); }
.backdrop-opacity-40  { --tw-backdrop-opacity: opacity(0.4); }
.backdrop-opacity-50  { --tw-backdrop-opacity: opacity(0.5); }
.backdrop-opacity-60  { --tw-backdrop-opacity: opacity(0.6); }
.backdrop-opacity-70  { --tw-backdrop-opacity: opacity(0.7); }
.backdrop-opacity-75  { --tw-backdrop-opacity: opacity(0.75); }
.backdrop-opacity-80  { --tw-backdrop-opacity: opacity(0.8); }
.backdrop-opacity-90  { --tw-backdrop-opacity: opacity(0.9); }
.backdrop-opacity-95  { --tw-backdrop-opacity: opacity(0.95); }
.backdrop-opacity-100 { --tw-backdrop-opacity: opacity(1); }

/* Backdrop Saturate **************************************************/
.backdrop-saturate-0   { --tw-backdrop-saturate: saturate(0); }
.backdrop-saturate-50  { --tw-backdrop-saturate: saturate(.5); }
.backdrop-saturate-100 { --tw-backdrop-saturate: saturate(1); }
.backdrop-saturate-150 { --tw-backdrop-saturate: saturate(1.5); }
.backdrop-saturate-200 { --tw-backdrop-saturate: saturate(2); }

/* Backdrop Sepia *****************************************************/
.backdrop-sepia-0 { --tw-backdrop-sepia: sepia(0); }
.backdrop-sepia   { --tw-backdrop-sepia: sepia(1); }
